<header class="header">
    <div class="logo">
        <h1>MyBooks</h1>
    </div>
    <div class="menu">
        <a routerLink="/home" routerLinkActive = "activo"> HOME </a>
        <a routerLink="/AddBook" routerLinkActive = "activo">AddBook</a>
        <a routerLink="/UpdateBook" routerLinkActive = "activo">UpdateBook</a>
        <a routerLink="/books" routerLinkActive = "activo"> Books </a>
        <a routerLink="/register" routerLinkActive = "activo"> Register </a>
        <a routerLink="/profile" routerLinkActive = "activo"> Profile </a>
        <a routerLink="/login" routerLinkActive = "activo"> Login</a>
        
    </div>

</header>
