.header{
    height: 12vh;
    width: 100%;
    background-color: var(--mygreen);
    color: white;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 .logo{
    font-size: 2rem;
    position: relative;
    left: 70px;
 }

 .menu{
    width: 45%;
    position: relative;
    right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

 }
  .menu a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
  }