<main class="main">
    
    <div class="form">
      <form class ="mb-3 " [formGroup]="myForm">
          <div class="form-group mt-4">
            <label>Nombre</label>
            <input type="text" class="form-control"  style="width: 250px; margin-top: 10px;" formControlName="nombre"
            [ngClass]="{'is-invalid': (myForm.get('nombre').dirty || myForm.get('nombre').touched) && !myForm.get('nombre').valid}"/>
            <div *ngIf="!myForm.get('nombre').valid" class="invalid-feedback">
              El nombre es necesario
            </div>   
          </div>
          <div class="form-group mt-4">
          <label>Apellido</label>
            <input type="text" class="form-control"  style="width: 250px; margin-top: 10px;" formControlName="apellido"
            [ngClass]="{'is-invalid': (myForm.get('apellido').dirty || myForm.get('apellido').touched) && !myForm.get('apellido').valid}"/>
            <div *ngIf="!myForm.get('apellido').valid" class="invalid-feedback">
              El apellido es necesario
            </div> 
          </div>  
          
        
          <div class="form-group mt-3">
            <label>Email</label>
            <input  type="email" class="form-control"  style="width: 250px;margin-top: 10px;" formControlName="email"
            [ngClass]="{'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid}"/>
            <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
              <div *ngIf="myForm.get('email').errors.required">La dirección de email es obligatoria</div>
              <div *ngIf="myForm.get('email').errors.email">Dirección email incorrecta</div>
            </div>
          </div>

          <div class="form-group mt-4">
          <label>Foto</label>
            <input type="text" class="form-control"  style="width: 250px; margin-top: 10px;" formControlName="apellido"
            [ngClass]="{'is-invalid': (myForm.get('foto').dirty || myForm.get('foto').touched) && !myForm.get('foto').valid}"/>
            <div *ngIf="!myForm.get('foto').valid" class="invalid-feedback">
              La foto es necesaria
            </div> 
          </div> 
        
          <div class="form-group mt-3">
            <label>Password</label>
            <input  type="password" class="form-control"  style="width: 250px;margin-top: 10px;" formControlName="password"
            [ngClass]="{'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid}"/>
            <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
              <div *ngIf="myForm.get('password').errors.required">La clave es obligatoria</div>
              <div *ngIf="myForm.get('password').errors.minlength">La clave debe tener al menos 8 caracteres</div>    
            </div>
            
          <div class="form-group mt-3">
                <label>Repeat Password</label>
                <input  type="password" class="form-control"  style="width: 250px;margin-top: 10px;" formControlName="password"
                [ngClass]="{'is-invalid': (myForm.get('password2').dirty || myForm.get('password2').touched) && !myForm.get('password2').valid}"/>
                <div *ngIf="!myForm.get('password2').valid" class="invalid-feedback">
                  <div *ngIf="myForm.get('password2').errors.required">La clave es obligatoria</div>
                  <div *ngIf="myForm.get('password2').errors.required && myForm.get('password2').errors.checkPassword">Las contraseñas deben coincidir</div>    
                </div>
        
          <div class="form-group mt-3">
          <button class="btn btn-success mt-4 btn-block position-absolute  start-50 translate-middle " (click)="register()" [disabled]="myForm.invalid">Submit</button>
          </div>
     
    </div>

  
  
  
  
  
    

