<main class="main">
    <div class="card">
        <img src={{myUser.photo}} alt="perfil">
        <h1>{{myUser.nombreCompleto()}}</h1>
        <div class="content">
            <h2>Nombre</h2>
            <div class="container">{{myUser.name}}</div>
        </div>
        <div class="content">
            <h2>Apellido</h2>
            <div class="container">{{myUser.last_name}}</div>
        </div> 
        <div class="content">
            <h2>Correo </h2>
            <div class="container">{{myUser.email}}</div>
        </div>   
    </div>

    <div class="card">
        <h1> Editar Datos</h1>
        <input type="text" name="text" class="input"  placeholder="Nombre" #newName>
        <input type="text" name="text" class="input" placeholder="Apellido" #newLastName>
        <input type="text" name="text" class="input" placeholder="Correo" #newCorreo>
        <input type="text" name="text" class="input" placeholder="URL" #newurl>
        <button type="button" class="form--submit" (click) = "modificar(newName, newLastName, newCorreo, newurl)">
           Modificar
        </button>
    </div>

    
</main>
