.footer{
    height: 8vh;
    width: 100%;
    background-color: rgb(86, 86, 86);
    position:relative;
    top: 681px;
}

 .enlaces{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }
 .enlaces a{
    color: white;
    text-decoration: none;
 }